/* cat */
.diversityEmojiItemImage_cce80d[src='/assets/bf41996d71aa0f3be1f6.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.image_b000dd[src='/assets/bf41996d71aa0f3be1f6.svg'], .image_b000dd[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.emoji_f48b14[src='/assets/bf41996d71aa0f3be1f6.svg'], .emoji_f48b14[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.emojiImage_bcc24e[src='/assets/bf41996d71aa0f3be1f6.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.image_d90b3d[src='/assets/bf41996d71aa0f3be1f6.svg'], .image_d90b3d[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.icon_a24e84[src='/assets/bf41996d71aa0f3be1f6.svg'], .icon_a24e84[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.emoji_f2bfbb[src='/assets/bf41996d71aa0f3be1f6.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.emoji_cbdbf0[src='/assets/bf41996d71aa0f3be1f6.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.roleIcon_d5100b[src='/assets/bf41996d71aa0f3be1f6.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'],
.emoji[src='/assets/bf41996d71aa0f3be1f6.svg'], .emoji[style*='background-image: url("/assets/bf41996d71aa0f3be1f6.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/Nature/cat-face_1f431.png") !important;
}
/* cat2 */
.diversityEmojiItemImage_cce80d[src='/assets/054cc74cd0be1d2178c6.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.image_b000dd[src='/assets/054cc74cd0be1d2178c6.svg'], .image_b000dd[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.emoji_f48b14[src='/assets/054cc74cd0be1d2178c6.svg'], .emoji_f48b14[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.emojiImage_bcc24e[src='/assets/054cc74cd0be1d2178c6.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.image_d90b3d[src='/assets/054cc74cd0be1d2178c6.svg'], .image_d90b3d[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.icon_a24e84[src='/assets/054cc74cd0be1d2178c6.svg'], .icon_a24e84[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.emoji_f2bfbb[src='/assets/054cc74cd0be1d2178c6.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.emoji_cbdbf0[src='/assets/054cc74cd0be1d2178c6.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.roleIcon_d5100b[src='/assets/054cc74cd0be1d2178c6.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'],
.emoji[src='/assets/054cc74cd0be1d2178c6.svg'], .emoji[style*='background-image: url("/assets/054cc74cd0be1d2178c6.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/Nature/cat_1f408.png") !important;
}