/* smiley_cat */
.diversityEmojiItemImage_cce80d[src='/assets/f6d69d393659a11d91ef.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.image_b000dd[src='/assets/f6d69d393659a11d91ef.svg'], .image_b000dd[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.emoji_f48b14[src='/assets/f6d69d393659a11d91ef.svg'], .emoji_f48b14[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.emojiImage_bcc24e[src='/assets/f6d69d393659a11d91ef.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.image_d90b3d[src='/assets/f6d69d393659a11d91ef.svg'], .image_d90b3d[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.icon_a24e84[src='/assets/f6d69d393659a11d91ef.svg'], .icon_a24e84[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.emoji_f2bfbb[src='/assets/f6d69d393659a11d91ef.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.emoji_cbdbf0[src='/assets/f6d69d393659a11d91ef.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.roleIcon_d5100b[src='/assets/f6d69d393659a11d91ef.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'],
.emoji[src='/assets/f6d69d393659a11d91ef.svg'], .emoji[style*='background-image: url("/assets/f6d69d393659a11d91ef.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/grinning-cat_1f63a.png") !important;
}

/* smile_cat */
.diversityEmojiItemImage_cce80d[src='/assets/be1c9362abc593ba5ec6.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.image_b000dd[src='/assets/be1c9362abc593ba5ec6.svg'], .image_b000dd[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.emoji_f48b14[src='/assets/be1c9362abc593ba5ec6.svg'], .emoji_f48b14[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.emojiImage_bcc24e[src='/assets/be1c9362abc593ba5ec6.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.image_d90b3d[src='/assets/be1c9362abc593ba5ec6.svg'], .image_d90b3d[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.icon_a24e84[src='/assets/be1c9362abc593ba5ec6.svg'], .icon_a24e84[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.emoji_f2bfbb[src='/assets/be1c9362abc593ba5ec6.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.emoji_cbdbf0[src='/assets/be1c9362abc593ba5ec6.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.roleIcon_d5100b[src='/assets/be1c9362abc593ba5ec6.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'],
.emoji[src='/assets/be1c9362abc593ba5ec6.svg'], .emoji[style*='background-image: url("/assets/be1c9362abc593ba5ec6.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/grinning-cat-with-smiling-eyes_1f638.png") !important;
}

/* joy_cat */
.diversityEmojiItemImage_cce80d[src='/assets/2c5fd3ed533e856b6493.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.image_b000dd[src='/assets/2c5fd3ed533e856b6493.svg'], .image_b000dd[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.emoji_f48b14[src='/assets/2c5fd3ed533e856b6493.svg'], .emoji_f48b14[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.emojiImage_bcc24e[src='/assets/2c5fd3ed533e856b6493.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.image_d90b3d[src='/assets/2c5fd3ed533e856b6493.svg'], .image_d90b3d[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.icon_a24e84[src='/assets/2c5fd3ed533e856b6493.svg'], .icon_a24e84[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.emoji_f2bfbb[src='/assets/2c5fd3ed533e856b6493.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.emoji_cbdbf0[src='/assets/2c5fd3ed533e856b6493.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.roleIcon_d5100b[src='/assets/2c5fd3ed533e856b6493.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'],
.emoji[src='/assets/2c5fd3ed533e856b6493.svg'], .emoji[style*='background-image: url("/assets/2c5fd3ed533e856b6493.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/cat-with-tears-of-joy_1f639.png") !important;
}

/* heart_eyes_cat */
.diversityEmojiItemImage_cce80d[src='/assets/faf99ba369cc53606177.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.image_b000dd[src='/assets/faf99ba369cc53606177.svg'], .image_b000dd[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.emoji_f48b14[src='/assets/faf99ba369cc53606177.svg'], .emoji_f48b14[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.emojiImage_bcc24e[src='/assets/faf99ba369cc53606177.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.image_d90b3d[src='/assets/faf99ba369cc53606177.svg'], .image_d90b3d[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.icon_a24e84[src='/assets/faf99ba369cc53606177.svg'], .icon_a24e84[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.emoji_f2bfbb[src='/assets/faf99ba369cc53606177.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.emoji_cbdbf0[src='/assets/faf99ba369cc53606177.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.roleIcon_d5100b[src='/assets/faf99ba369cc53606177.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'],
.emoji[src='/assets/faf99ba369cc53606177.svg'], .emoji[style*='background-image: url("/assets/faf99ba369cc53606177.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/smiling-cat-with-heart-eyes_1f63b.png") !important;
}

/* smirk_cat */
.diversityEmojiItemImage_cce80d[src='/assets/185cc89428ef259857f1.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.image_b000dd[src='/assets/185cc89428ef259857f1.svg'], .image_b000dd[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.emoji_f48b14[src='/assets/185cc89428ef259857f1.svg'], .emoji_f48b14[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.emojiImage_bcc24e[src='/assets/185cc89428ef259857f1.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.image_d90b3d[src='/assets/185cc89428ef259857f1.svg'], .image_d90b3d[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.icon_a24e84[src='/assets/185cc89428ef259857f1.svg'], .icon_a24e84[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.emoji_f2bfbb[src='/assets/185cc89428ef259857f1.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.emoji_cbdbf0[src='/assets/185cc89428ef259857f1.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.roleIcon_d5100b[src='/assets/185cc89428ef259857f1.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'],
.emoji[src='/assets/185cc89428ef259857f1.svg'], .emoji[style*='background-image: url("/assets/185cc89428ef259857f1.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/cat-with-wry-smile_1f63c.png") !important;
}

/* kissing_cat */
.diversityEmojiItemImage_cce80d[src='/assets/6a68dc8f81c6a101cef3.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.image_b000dd[src='/assets/6a68dc8f81c6a101cef3.svg'], .image_b000dd[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.emoji_f48b14[src='/assets/6a68dc8f81c6a101cef3.svg'], .emoji_f48b14[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.emojiImage_bcc24e[src='/assets/6a68dc8f81c6a101cef3.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.image_d90b3d[src='/assets/6a68dc8f81c6a101cef3.svg'], .image_d90b3d[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.icon_a24e84[src='/assets/6a68dc8f81c6a101cef3.svg'], .icon_a24e84[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.emoji_f2bfbb[src='/assets/6a68dc8f81c6a101cef3.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.emoji_cbdbf0[src='/assets/6a68dc8f81c6a101cef3.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.roleIcon_d5100b[src='/assets/6a68dc8f81c6a101cef3.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'],
.emoji[src='/assets/6a68dc8f81c6a101cef3.svg'], .emoji[style*='background-image: url("/assets/6a68dc8f81c6a101cef3.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/kissing-cat_1f63d.png") !important;
}

/* scream_cat */
.diversityEmojiItemImage_cce80d[src='/assets/581a35315c6570ffcf37.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.image_b000dd[src='/assets/581a35315c6570ffcf37.svg'], .image_b000dd[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.emoji_f48b14[src='/assets/581a35315c6570ffcf37.svg'], .emoji_f48b14[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.emojiImage_bcc24e[src='/assets/581a35315c6570ffcf37.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.image_d90b3d[src='/assets/581a35315c6570ffcf37.svg'], .image_d90b3d[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.icon_a24e84[src='/assets/581a35315c6570ffcf37.svg'], .icon_a24e84[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.emoji_f2bfbb[src='/assets/581a35315c6570ffcf37.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.emoji_cbdbf0[src='/assets/581a35315c6570ffcf37.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.roleIcon_d5100b[src='/assets/581a35315c6570ffcf37.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'],
.emoji[src='/assets/581a35315c6570ffcf37.svg'], .emoji[style*='background-image: url("/assets/581a35315c6570ffcf37.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/weary-cat_1f640.png") !important;
}

/* crying_cat_face */
.diversityEmojiItemImage_cce80d[src='/assets/ab6835d2922224154ddf.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.image_b000dd[src='/assets/ab6835d2922224154ddf.svg'], .image_b000dd[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.emoji_f48b14[src='/assets/ab6835d2922224154ddf.svg'], .emoji_f48b14[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.emojiImage_bcc24e[src='/assets/ab6835d2922224154ddf.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.image_d90b3d[src='/assets/ab6835d2922224154ddf.svg'], .image_d90b3d[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.icon_a24e84[src='/assets/ab6835d2922224154ddf.svg'], .icon_a24e84[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.emoji_f2bfbb[src='/assets/ab6835d2922224154ddf.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.emoji_cbdbf0[src='/assets/ab6835d2922224154ddf.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.roleIcon_d5100b[src='/assets/ab6835d2922224154ddf.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'],
.emoji[src='/assets/ab6835d2922224154ddf.svg'], .emoji[style*='background-image: url("/assets/ab6835d2922224154ddf.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/crying-cat_1f63f.png") !important;
}

/* pouting_cat */
.diversityEmojiItemImage_cce80d[src='/assets/da635f19b749f316dd98.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.image_b000dd[src='/assets/da635f19b749f316dd98.svg'], .image_b000dd[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.emoji_f48b14[src='/assets/da635f19b749f316dd98.svg'], .emoji_f48b14[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.emojiImage_bcc24e[src='/assets/da635f19b749f316dd98.svg'], .emojiImage_bcc24e[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.image_d90b3d[src='/assets/da635f19b749f316dd98.svg'], .image_d90b3d[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.icon_a24e84[src='/assets/da635f19b749f316dd98.svg'], .icon_a24e84[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.emoji_f2bfbb[src='/assets/da635f19b749f316dd98.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.emoji_cbdbf0[src='/assets/da635f19b749f316dd98.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.roleIcon_d5100b[src='/assets/da635f19b749f316dd98.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'],
.emoji[src='/assets/da635f19b749f316dd98.svg'], .emoji[style*='background-image: url("/assets/da635f19b749f316dd98.svg")'] {
    background: transparent !important;
    content: url("https://brushtromein.github.io/orange/People/pouting-cat_1f63e.png") !important;
}
